*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 6, 22);
    color: rgb(242, 248, 240);
}

h1{
    font-size: 1rem;
    color: rgb(68, 170, 21);
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

p{
    font-size: 3rem;
    color: rgb(147, 147, 203);
    text-align: center;
    font-family: 'East Sea Dokdo', cursive;    
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: rgb(0, 6, 22);
}

#loadMoreButton:hover{
    background-color: rgb(68, 170, 21);
    color: rgb(0, 6, 22);
}
.rodape{
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
}

.rodape a{
    color:rgb(108,121,219);
    font-size:1.5rem;
    font-family: 'East Sea Dokdo', cursive;
}

.rodape a:hover{
    color:rgb(68, 170, 21);
    font-size: 2rem;
    font-family: 'East Sea Dokdo', cursive;
}


@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
/* .pokemon .detail .types li{
    display: inline-block;
    padding: .5rem;
    margin: .5rem;
    border-radius: 1rem;
    background-color: #000;
    opacity: 0.3;
} */
