*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 6, 22);
    color: rgb(255, 255, 255);
}
h1{
    font-size: 3rem;
    color: rgb(68, 170, 21);
}
.content{
    padding: 2rem;

}

ol.pokemons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
}
ol.pokemons li{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    background-color:#14A06F;
    border-radius: 1rem;   
   
}
ol.pokemons li img{
    max-width: 100%;
    height: 100px;
}